* {
    font-family: 'Roboto', sans-serif;
}

body{
  background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
}

main {
    margin-top:50px;
}

.optionsQuestion{
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

.inputClass{
    margin-top: 10px;
    border: 10px;
    padding: 10px;
}

.inputClass:hover {
  background-color: blue;
}

p {
  color: #ffffff;
}

.mainContent {
    padding: 40px;
    text-align: center;
}

.welcomeStyle{
    font-size: 75px;
}

img {
    max-width: 550;
    max-height: 275;
}

button {
    display: block;
    margin: 30px auto 0px auto;
    padding: 15px 32px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #383838;
}

button:hover {
    background-color: #3e8e41
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.progressBar {
  display: block;
  margin: 30px auto 0 auto;
}


input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  border: 2px solid #48ed36;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

input:checked {
  border: 7px solid #ff7607;
  box-shadow: 0pt 0pt 2pt 1.5pt red;
}

